html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {

  padding-top: 100px;

  header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: indianred;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      display: block;
      position: absolute;
      left: 0;
      top: 6px
    }

    &:before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      display: block;
      position: absolute;
      left: 0;
      bottom: 6px
    }



    .headline {
      width: auto;
      height: 80px;
      line-height: 80px;
      display: inline-block;
      font-size: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      margin-top: -40px;
      color: white;
      text-shadow: 0px 0px 4px white;
      cursor: pointer;

      a {
        color: white;
      }
    }

    .user-options {

      a {
        color: white !important;

        &:hover {
          text-shadow: 0px 0px 5px white;
        }
      }

      width: auto;
      height: 80px;
      display: inline-block;
      float: right;
      z-index: 1;
      padding: 0px 10px;
      color: white;
      line-height: 80px;
      font-size: 22px;
      margin-right: 50px;
      cursor: pointer;

      transition: box-shadow 0.5s;
      -moz-transition: box-shadow 0.5s;
      -webkit-transition: box-shadow 0.5s;
    }
  }

  .open-menu {
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    right: 40px;
    top: 29px;
    cursor: pointer;
    overflow: hidden;
    z-index: 15px;

    &.active {

      .burger {
        span {
          transition-delay: 0s;
          -webkit-transition-delay: 0s;
          &.first,&.second,&.third {
            right: -50px;
          }
        }
      }

      .cross {
        span {
          &.cross_1 {
            width: 100%;
            transition-delay: 1s;
            -webkit-transition-delay: 1s;
          }
          &.cross_2 {
            height: 100%;
            transition-delay: 1.2s;
            -webkit-transition-delay: 1.2s;
          }
        }
      }

    }


    .burger {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;

      span {
        height: 4px;
        display: block;
        background-color: white;
        float: right;
        position: absolute;

        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        transition-delay: 1s;
        -webkit-transition-delay: 1s;

        &.first {
          width: 100%;
          right: 0;
          top: 0;
        }
        &.second {
          width: 75%;
          right: 0;
          top: 9px;
        }
        &.third {
          width: 40%;
          right: 0;
          top: 18px;
        }
      }
    }

    .cross {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      left: 0;

      span {
        &.cross_1 {
          transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          transition-delay: 0.25s;
          -webkit-transition-delay: 0.25s;

          width: 0px;
          height: 4px;
          display: block;
          background-color: white;
          position: absolute;
          top: calc(50% - 2px);
        }

        &.cross_2 {
          transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;

          width: 4px;
          height: 0px;
          display: block;
          background-color: white;
          position: absolute;
          top: 0;
          right: calc(50% - 2px);
        }
      }
    }

  }

  .menu-mobile {
    width: 100%;
    display: block;
    list-style: none;
    background-color: indianred;
    padding: 15px 0;
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 5;

    transition: top 2s;
    -webkit-transition: top 2s;
    -moz-transition: top 2s;

    &.active {
      top: 80px;
      transition: top 1s;
      -webkit-transition: top 1s;
      -moz-transition: top 1s;
    }

    &__item {
      width: 100%;
      text-align: center;
      font-size: 22px;
      display: inline-block;
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }

      a {
        color: white !important;

        &:hover {
          text-shadow: 0px 0px 5px white;
        }
      }
    }
  }

  main {
    #map {
      width: 80%;
      max-width: 500px;
      height: 300px;
      margin: 0 auto;
      margin-top: 60px;
    }

    width: 100%;
    height: auto;

    .container {
      padding-bottom: 60px;

      .row {
        margin-top: 30px;
        text-align: center;

        input {
          &.search {
            width: 250px;
            height: 50px;
            padding: 5px 10px;
            font-size: 24px;
            margin-top: 20px;
          }
        }

        .day {
          display: block;
          float: left;
          width: 25%;
          margin-top: 20px;
        }

        .daily {
          width: 100%;
          text-align: center;

          &__item {
            vertical-align: top;
            width: 33%;
            padding: 10px 20px;
            display: inline-block;

            img {
              width: 30px !important;
              margin-bottom: 10px;
            }

            h1 {
              margin-bottom: 10px;
              display: block;
            }

            p {
              font-size: 18px;
              margin-bottom: 0;

              &.summary {
                margin-bottom: 10px;
              }

              .degree {
                font-size: 18px !important;
              }

              &.addition {
                font-size: 16px;
                margin-bottom: 15px;

                .degree {
                  font-size: 16px;
                }
              }
            }

            span {
              &.heading {
                font-size: 20px;
              }
            }
          }
        }

        .item {
          cursor: pointer;
          width: 100px;
          height: 100px;
          border: 2px solid indianred;
          font-size: 30px;
          line-height: 150px;
          border-radius: 50%;
          text-align: center;
          background: url(https://d30y9cdsu7xlg0.cloudfront.net/png/11223-200.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50%;
          position: relative;
          display: inline-block;
          margin-left: 50px;

          &:first-child {
            margin-left: 0;
          }

          transition: height 0.5s, width 0.5s, box-shadow 0.5s;
          -moz-transition: height 0.5s, width 0.5s, box-shadow 0.5s;
          -webkit-transition: height 0.5s, width 0.5s, box-shadow 0.5s;

          span {
            display: inline-block;
            position: absolute;
            top: 45px;
            left: 50%;
            transform: translateX(-50%);
            color: black;

            transition: left 0.5s, top 0.5s;
            -moz-transition: left 0.5s, top 0.5s;
            -webkit-transition: left 0.5s, top 0.5s;
          }

          &:hover {
            height: 115px;
            width: 115px;
            box-shadow: 0px 10px 10px black;

            span {
              top: 70px;
            }
          }
        }
      }

      &.home {
        .row {
          #submitSearch {
            font-size: 20px;
            margin-left: 15px;
            border-radius: 5px;
            text-shadow: 0px 0px 1px black;
          }
        }
      }

      &.history {
        .row {
          p {
            font-size: 18px;
            a {
              color: black;
              font-size: 22px;
              text-shadow: 0 0 1px #000;
            }
          }

          h1 {
            &.load-more {
              margin-top: 62px;
              text-shadow: 0px 0px 2px black;
              cursor: pointer;

              transition: color 0.5s;
              -webkit-transition: color 0.5s;
              -moz-transition: color 0.5s;

              &__message {

              }
            }
          }
        }
      }

      &.auth {
        .panel {
          border: 0;

          button[type="submit"] {
            background-color: indianred;
            border: 0;
            float: left;
          }

          .checkbox {
            float: left;
          }

          a {
            float: left;
          }

          .panel-heading {
            font-size: 30px;
            background-color: transparent;
            border: 0;
          }
        }


      }

      &.forecast {
        canvas {
          width: 80% !important;
          height: 800px !important;
          margin: 0 auto;
          margin-top: 30px;
        }
        .row {
          &.main {
            h1 {
              font-size: 40px;
              text-shadow: 0px 0px 2px black;
            }
          }

          .icon {
            width: 60px;
          }

          span {
            &.degree {
              font-size: 30px;
              text-shadow: 0px 0px 2px black;

              &--small {
                font-size: 20px;
              }
            }

            &.temperature {
              position: relative;
              margin-left: 30px;
              width: 100%;

              &:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                left: -40px;
                top: -10px;
                background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/7810-200.png);
                background-position: center;
                background-size: contain;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  body {
    main {
      .container {
        .row {
          .day {
            width: 33%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {

    .open-menu {
      display: block;
    }

    header {
      .user-options {
        display: none !important;
      }
    }

    main {
      .container {
        padding: 0 20px;
        .row {

          .day {
            width: 50%;
          }

          .daily__item {
            width: 100%;

            p {
              font-size: 22px;

              span {
                &.degree {
                  font-size: 18px !important;
                }
              }
            }
          }
        }

        &.forecast {
          canvas {
            display: none !important;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 500px) {
  body {
    main {
      .container {
        .row {
          .day {
            width: 100%;
          }
        }
      }

    }
  }
}